.git
.gitignore
.idea
.vscode

.env
.env.*
!.env.example

target
node_modules
storage
logs
output

**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv

*.log
*.iml
*.py[cod]
.DS_Store
Thumbs.db
